@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ZiHunShiGuang;
    src: url(/src/assets/fonts/ZiHunShiGuang.ttf) format('truetype');
  }

  @font-face {
    font-family: Haiyanzhishidongdong;
    src: url(/src/assets/fonts/Haiyanzhishidongdong-Regular-2.ttf) format('truetype');
  }
}

html,
body,
:root,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: Haiyanzhishidongdong;
  overflow: hidden;
}

#root {
  background-image: url(/src/assets/bg.png);
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 隐藏滚动条 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}